# Tomcat 설치 폴더는 통째로 제외
apache-tomcat-*/ 

# Eclipse 프로젝트/빌드 관련
.classpath
.project
.settings/
bin/
target/
build/

# IntelliJ
.idea/
*.iml

# 로그/임시 폴더
logs/
temp/
work/

# IDE
.vscode/

# OS
.DS_Store

# DB 파일
src/main/resources/db.properties

# Weather API Service Key 파일
src/main/resources/serviceKey.properties

# API Key 설정 파일 (Git 제외)
src/main/resources/application.properties